$bgimg: url(../img/header_background_v1.jpg) no-repeat center/cover;
$fontColor: white;
$mainFont: normal 300 15px/24px Roboto, Ubuntu, Cantarell, Helvetica ,sans-serif;
$backgroundcolorbtn:  #00CED1;
$bgcolorblock: #f5f5f5;
$mainbgcolor: white;
$descriptioncolor: red;
$articlecolor: #00CED1;
$btncolor: #00CED1;